#scoreBar {
  height: 40px;
background: lightgreen;
width: 100%;
text-align: center;
line-height: 40px;
font-size: 24px;
}

#yourScore {
  display: inline;
}

#gameOver {
  display: none;
}

#trueGuess{
  background: lightgreen;
  position: absolute;
  top: 120px;
  left: 520px;
}

#falseGuess{

}

#gameContent {
  width: 500px;
  background: white;
  margin: auto;
  box-shadow: 0px 0px 8px 1px lightgray;
  padding: 16px;
  color: #28292d;
  margin-top: 40px;
  margin-bottom: 40px;
}

.assistant {
border: 1px solid;
border-radius: 4px;
border-left-width: 4px;
position: relative;
display: flex;
    margin: 32px 16px;
}

.assistant .left {
  display: inline-block;
width: 104px;
margin: auto;
vertical-align: middle;
padding: 12px;

}

.assistant .right {
  display: inline-block;
  vertical-align: middle;
padding: 8px 16px;
flex: 1;
}

 .assistant .right h3 {
   font-size: 24px;
margin: 0px;
 }

  .assistant .right p{
   font-family: monospace;
    font-size: 16px;
 }
.assistant .left img {
  background: pink;
    border-radius: 70px;
    width: 100px;
    border: 1px solid #3b434f;
}

.header-row {
  border: 1px solid #CCC;
}

.assistant .cost,.value {
  text-align: center;
}

.ability h4 {
  margin: 0;
padding-bottom: 4px;
}

.ability .description {
  padding: 10px 8px 10px 48px;
      text-indent: -24px;
    }
