extends layout
  
block content
  //-link(href='/style/landing.css', rel="stylesheet", type='text/css')  
  script.      
    const STATS = !{JSON.stringify(stats)};

  div Total Claims: #{stats.total}
  br
  div full json
  div !{JSON.stringify(stats)}
