extends layout
  
block content
  //-link(href='/style/landing.css', rel="stylesheet", type='text/css')
  script.   
    const TOPICS = !{JSON.stringify(topics)};
    
  #mainContent
    h3 Topics (Claims): #{topics.length}
    each topic in topics
      a(href='/topic/'+topic.claim_id)= topic.claim
